body {
  background-color: lightblue;
  max-width: 1024px;
}

h1 {
  color: navy;
  margin-left: 20px;
}

p {
  background-color: #ffffff55;
  padding: 10px;
  border-radius: 10px;
}
.input {
  background-color: #00000044;
  padding: 5px;
  border-radius: 0px;
}